In [411]:
import pandas as pd

In [412]:
# Cleaned Dataset
path="C:\\Users\\basva\\Downloads\\Healthcare"
df=pd.read_csv(path)     # importing Data
df.head(6)

   Unnamed: 0  age     sex     bmi  children smoker     region      charges
0           0   19  female  27.900         0    yes  southwest  16884.92400
1           1   18    male  33.770         1     no  southeast   1725.55230
2           2   28    male  33.000         3     no  southeast   4449.46200
3           3   33    male  22.705         0     no  northwest  21984.47061
4           4   32    male  28.880         0     no  northwest   3866.85520
5           5   31  female  25.740         0     no  southeast   3756.62160

In [413]:
df.columns

Index(['Unnamed: 0', 'age', 'sex', 'bmi', 'children', 'smoker', 'region',
       'charges'],
      dtype='object')

In [414]:
df = df.drop('Unnamed: 0', axis=1)

df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [415]:
# Type of Dataset
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [416]:
#shape of Dataset
df.shape

(1329, 7)

In [417]:
# columns in Dataset
df.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [418]:
# Information about Dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1329 entries, 0 to 1328
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1329 non-null   int64
 1   sex       1329 non-null   object
 2   bmi       1329 non-null   float64
 3   children  1329 non-null   int64
 4   smoker    1329 non-null   object
 5   region    1329 non-null   object
 6   charges   1329 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 72.8+ KB

In [419]:
#checking null values in Dataset
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [420]:
import sklearn
print(sklearn.__version__)

1.2.2

## Input-'age', 'sex', 'bmi', 'children', 'smoker', 'region'
## Target-"charges"
## Alg-Regression
## Evaluation-Mean Absolute Error

## Split the dataset into Training and Testing (recommended 75:25 split).

In [421]:
y=df["charges"]
X=df[['age', 'sex', 'bmi', 'children', 'smoker', 'region']]

In [422]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,train_size=0.75,random_state=100)
print(X_train.shape,y_train.shape)
print(X_test.shape,y_test.shape)

(996, 6) (996,)
(333, 6) (333,)

In [423]:
X_train.head()

      age     sex     bmi  children smoker     region
1245   40  female  29.300         4     no  southwest
591    46  female  33.725         1     no  northeast
574    52    male  30.200         1     no  southwest
832    36    male  31.500         0     no  southwest
675    49  female  23.180         2     no  northwest

In [424]:
X_train_cat=X_train.select_dtypes(include=['object'])
X_train_cat.head()

         sex smoker     region
1245  female     no  southwest
591   female     no  northeast
574     male     no  southwest
832     male     no  southwest
675   female     no  northwest

In [425]:
X_train_num=X_train.select_dtypes(include=['int64','float64'])
X_train_num.head()

      age     bmi  children
1245   40  29.300         4
591    46  33.725         1
574    52  30.200         1
832    36  31.500         0
675    49  23.180         2

## Data preparation on train data:

In [426]:
from sklearn.preprocessing import StandardScaler
Scaler=StandardScaler()
x_train_num_rescaled=pd.DataFrame(Scaler.fit_transform(X_train_num),
                                 columns=X_train_num.columns,
                                 index=X_train_num.index)
x_train_num_rescaled.head()

           age       bmi  children
1245  0.062525 -0.211657  2.384342
591   0.494491  0.538212 -0.095440
574   0.926457 -0.059142 -0.095440
832  -0.225452  0.161159 -0.922034
675   0.710474 -1.248764  0.731154

In [427]:
X_train_num.describe()

              age         bmi    children
count  996.000000  996.000000  996.000000
mean    39.131526   30.548996    1.115462
std     13.896956    5.903995    1.210391
min     18.000000   15.960000    0.000000
25%     26.000000   26.315000    0.000000
50%     40.000000   30.210000    1.000000
75%     51.000000   34.520000    2.000000
max     64.000000   46.750000    5.000000

In [428]:
X_train_cat['sex'].value_counts(normalize=True)

female    0.50502
male      0.49498
Name: sex, dtype: float64

In [429]:
X_train_cat['smoker'].value_counts(normalize=True)

no     0.795181
yes    0.204819
Name: smoker, dtype: float64

In [430]:
X_train_cat['region'].value_counts(normalize=True)

southeast    0.267068
southwest    0.251004
northwest    0.245984
northeast    0.235944
Name: region, dtype: float64

In [431]:
from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder( drop='first',sparse=False)

X_train_cat_ohe = pd.DataFrame(encoder.fit_transform(X_train_cat), 
                               columns=encoder.get_feature_names_out(X_train_cat.columns), 
                               index = X_train_cat.index)

X_train_cat_ohe.head()

,sex_male,smoker_yes,region_northwest,region_southeast,region_southwest
1245,0.0,0.0,0.0,0.0,1.0
591,0.0,0.0,0.0,0.0,0.0
574,1.0,0.0,0.0,0.0,1.0
832,1.0,0.0,0.0,0.0,1.0
675,0.0,0.0,1.0,0.0,0.0

In [432]:
encoder.categories_

[array(['female', 'male'], dtype=object),
 array(['no', 'yes'], dtype=object),
 array(['northeast', 'northwest', 'southeast', 'southwest'], dtype=object)]

In [433]:
X_train_transformed=pd.concat([x_train_num_rescaled,X_train_cat_ohe],axis=1)
X_train_transformed.head()

,age,bmi,children,sex_male,smoker_yes,region_northwest,region_southeast,region_southwest
1245,0.062525,-0.211657,2.384342,0.0,0.0,0.0,0.0,1.0
591,0.494491,0.538212,-0.095440,0.0,0.0,0.0,0.0,0.0
574,0.926457,-0.059142,-0.095440,1.0,0.0,0.0,0.0,1.0
832,-0.225452,0.161159,-0.922034,1.0,0.0,0.0,0.0,1.0
675,0.710474,-1.248764,0.731154,0.0,0.0,1.0,0.0,0.0

# Data preparation on test data:

In [434]:
X_test_num=X_test.select_dtypes(include=['int64','float64'])
X_test_num.head()

      age     bmi  children
1096   37  29.800         0
450    20  29.735         0
1283   19  34.900         0
1269   32  29.735         0
520    38  37.730         0

In [435]:
x_test_num_rescaled=pd.DataFrame(Scaler.transform(X_test_num),
                                 columns=X_test_num.columns,
                                 index=X_test_num.index)
x_test_num_rescaled.head()

           age       bmi  children
1096 -0.153458 -0.126926 -0.922034
450  -1.377362 -0.137941 -0.922034
1283 -1.449356  0.737329 -0.922034
1269 -0.513430 -0.137941 -0.922034
520  -0.081463  1.216907 -0.922034

In [436]:
X_test_cat=X_test.select_dtypes(include=['object'])
X_test_cat.head()

         sex smoker     region
1096    male     no  southwest
450     male     no  northwest
1283    male    yes  southwest
1269  female     no  northwest
520   female     no  southeast

In [437]:

X_test_cat_le = pd.DataFrame(encoder.transform(X_test_cat), 
                               columns=encoder.get_feature_names_out(X_test_cat.columns), 
                               index = X_test_cat.index)

X_test_cat_le.head()

,sex_male,smoker_yes,region_northwest,region_southeast,region_southwest
1096,1.0,0.0,0.0,0.0,1.0
450,1.0,0.0,1.0,0.0,0.0
1283,1.0,1.0,0.0,0.0,1.0
1269,0.0,0.0,1.0,0.0,0.0
520,0.0,0.0,0.0,1.0,0.0

In [438]:
#X_test_cat['sex']=X_test_cat['sex'].apply(lambda x:sex_encoder[x])
#X_test_cat['smoker']=X_test_cat['smoker'].apply(lambda x:smoker_encoder[x])
#X_test_cat['region']=X_test_cat['region'].apply(lambda x:region_encoder[x])
#X_test_cat.head()

In [439]:
X_test_transformed=pd.concat([x_test_num_rescaled,X_test_cat_le],axis=1)
X_test_transformed.head()

,age,bmi,children,sex_male,smoker_yes,region_northwest,region_southeast,region_southwest
1096,-0.153458,-0.126926,-0.922034,1.0,0.0,0.0,0.0,1.0
450,-1.377362,-0.137941,-0.922034,1.0,0.0,1.0,0.0,0.0
1283,-1.449356,0.737329,-0.922034,1.0,1.0,0.0,0.0,1.0
1269,-0.513430,-0.137941,-0.922034,0.0,0.0,1.0,0.0,0.0
520,-0.081463,1.216907,-0.922034,0.0,0.0,0.0,1.0,0.0

# Linear Regression

In [440]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()
model.fit(X_train_transformed,y_train)

LinearRegression()

In [441]:
y_test_pred=model.predict(X_test_transformed)

In [442]:
temp_df=pd.DataFrame({'Actual':y_test,'Predicted':y_test_pred})
temp_df.head()

           Actual     Predicted
1096  20420.60465   5949.681900
450    1769.53165   2745.925155
1283  34828.65400  26803.401306
1269   4357.04365   5875.484692
520    5397.61670   9636.052232

In [443]:
from sklearn import metrics
print('Mean Absolute Error:',metrics.mean_absolute_error(y_test,y_test_pred))
print('Mean Squared Error:',metrics.mean_squared_error(y_test,y_test_pred))
print('Root Mean Squared Error:',np.sqrt(metrics.mean_squared_error(y_test,y_test_pred)))

Mean Absolute Error: 4216.628979172491
Mean Squared Error: 35982258.52813224
Root Mean Squared Error: 5998.521361813446

# Decision Trees

In [444]:
from sklearn.tree import DecisionTreeRegressor
model = DecisionTreeRegressor()
model.fit(X_train_transformed, y_train)

DecisionTreeRegressor()

In [445]:
y_test_pred = model.predict(X_test_transformed)

In [446]:
temp_df = pd.DataFrame({'Actual': y_test, 'Predicted': y_test_pred})

temp_df.head()

           Actual    Predicted
1096  20420.60465   5028.14660
450    1769.53165   1744.46500
1283  34828.65400  36219.40545
1269   4357.04365   3972.92470
520    5397.61670   6474.01300

In [447]:
print('Mean Absolute Error: ', metrics.mean_absolute_error(y_test, y_test_pred))

print('Mean Squared Error: ', metrics.mean_squared_error(y_test, y_test_pred))

print('Root Mean Squared Error: ', np.sqrt(metrics.mean_squared_error(y_test, y_test_pred)))

Mean Absolute Error:  2742.6829418618618
Mean Squared Error:  36438857.36407844
Root Mean Squared Error:  6036.460665330177

# Random Forest

In [448]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor()
model.fit(X_train_transformed, y_train)

RandomForestRegressor()

In [449]:
y_test_pred = model.predict(X_test_transformed)

In [450]:
temp_df = pd.DataFrame({'Actual': y_test, 'Predicted': y_test_pred})

temp_df.head()

           Actual     Predicted
1096  20420.60465   4713.260891
450    1769.53165   2842.681693
1283  34828.65400  36393.290462
1269   4357.04365   4225.708679
520    5397.61670   6869.442728

In [451]:
print('Mean Absolute Error: ', metrics.mean_absolute_error(y_test, y_test_pred))

print('Mean Squared Error: ', metrics.mean_squared_error(y_test, y_test_pred))

print('Root Mean Squared Error: ', np.sqrt(metrics.mean_squared_error(y_test, y_test_pred)))

Mean Absolute Error:  2674.801702084004
Mean Squared Error:  24131834.42014698
Root Mean Squared Error:  4912.416352483468

# Support Vector Machines

In [452]:
from sklearn.svm import SVR
model=SVR()
model.fit(X_train_transformed, y_train)

SVR()

In [453]:
y_test_pred = model.predict(X_test_transformed)

In [454]:
temp_df = pd.DataFrame({'Actual': y_test, 'Predicted': y_test_pred})

temp_df.head()

           Actual    Predicted
1096  20420.60465  9359.912567
450    1769.53165  9327.812270
1283  34828.65400  9370.673046
1269   4357.04365  9341.843119
520    5397.61670  9377.822837

In [455]:
print('Mean Absolute Error: ', metrics.mean_absolute_error(y_test, y_test_pred))

print('Mean Squared Error: ', metrics.mean_squared_error(y_test, y_test_pred))

print('Root Mean Squared Error: ', np.sqrt(metrics.mean_squared_error(y_test, y_test_pred)))

Mean Absolute Error:  8258.621542912939
Mean Squared Error:  144997183.47308007
Root Mean Squared Error:  12041.477628309578

# KNN

In [456]:
from sklearn.neighbors import KNeighborsRegressor
model=KNeighborsRegressor()
model.fit(X_train_transformed,y_train)

KNeighborsRegressor()

In [457]:
y_test_pred = model.predict(X_test_transformed)

In [458]:
temp_df = pd.DataFrame({'Actual': y_test, 'Predicted': y_test_pred})

temp_df.head()

           Actual    Predicted
1096  20420.60465   4075.76560
450    1769.53165   2165.43066
1283  34828.65400  14920.41793
1269   4357.04365   3824.17022
520    5397.61670   6115.68122

In [459]:
print('Mean Absolute Error: ', metrics.mean_absolute_error(y_test, y_test_pred))

print('Mean Squared Error: ', metrics.mean_squared_error(y_test, y_test_pred))

print('Root Mean Squared Error: ', np.sqrt(metrics.mean_squared_error(y_test, y_test_pred)))

Mean Absolute Error:  4092.2019264846845
Mean Squared Error:  45897981.28890307
Root Mean Squared Error:  6774.80488936051

# conclusion
* Random Forest is the best algorithm for the Medical Cost Prediction problem.
* when compared to other regressors random forest having less mean absolute error.
* mean absolute error for random forest is 2674.